body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

/*Blog Posts*/

.blog-post {
    margin-bottom: 60px;
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
    color: blueviolet;
}

.blog-post-meta {
    margin-bottom: 20px;
    color: #29b6f6;
    font-style:italic;
}
.blog-post {
    font-style: oblique;
    color: #3949ab;
}

.please {
   color: black;   
   font-weight: 100;
   font-family: serif;
}
.death {
    color: black;
    font-family: serif;
    font-weight: 100;
    font-size: 60px;
    padding-left: 15px;
}